@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
  box-sizing: border-box;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline
}
html, body {
  background: #1a1f25;
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

#man-people-user, #lock-locker{
  fill: white;
}

.wrapper {
  width: 300px;
  margin: 12% auto;
}

form {
  position: relative;
}

.clear {
  clear: both;
}

.autoriz {
  float: left;
  color: white;
  font-size: 0.8em;
}

.button {
  float: right;
  color: #7f8084;
  border: 1px solid #22272d;
  padding: 3px 4px;
  border-radius: 3px;
  font-size: 0.6em;
  cursor: pointer;
}
.button1 {
  float: left;
  color: #7f8084;
  border: 1px solid #22272d;
  padding: 3px 4px;
  border-radius: 3px;
  font-size: 0.6em;
  cursor: pointer;
}
.button:hover {
  color: #d3d3d3;
}
.lock {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  left: 5px;
}
.lock::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: #22272d;
  top: 0px;
  left: 100%;
}
.user {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  left: 5px;
}
.user::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: #22272d;
  top: 0px;
  left: 100%;
}

input {
  width: 100%;
  padding: 5px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;
}

input[type="login"]:focus, input[type="password"]:focus {
  border: 1px solid red;
  box-shadow: none;
}

.user-input:focus .user {
  background: red !important;
}

input[type="login"] {
  background: transparent;
  border: 2px solid #22272d;
  padding-left: 45px;
  color: #e6b333;
}
input[type="email"] {
  background: transparent;
  border: 2px solid #22272d;
  padding-left: 45px;
  color: #e6b333;
}
input[type="password"] {
  background: transparent;
  border: 2px solid #22272d;
  padding-left: 45px;
  color: #e6b333;
}
input[type="password2"] {
  background: transparent;
  border: 2px solid #22272d;
  padding-left: 45px;
  color: #e6b333;
}
input[type="submit"] {
  background: #e6b333;
  border: none;
  color: black;
  text-align: center;
  font-size: 0.7em;
  cursor: pointer;
}
.forgot-label {
  font-size: 0.6em;
  color: #7f8084;
  margin-top: 10px;
  float: right;
  padding: 3px 0;
  cursor: pointer;
}
a
{
  color: #7FFFD4;
  text-decoration: none
}
